@page
@model OrderCookDeliver.Pages.DetailModel
@{
    ViewData["Title"] = "Detail";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

    <link href="~/css/StyleSheet.css" rel="stylesheet" />
<div class="container marginTop">

    <div class="row">

        <div class="card">

            <div class="text-center view overlay hm-white-slight">

                <img src="~/img/noodles.jpg" class="img-fluid" alt="">

                <a href="#">

                    <div class="mask waves-effect waves-light"></div>

                </a>

            </div>

            <div class="card-block">

                <!--Title-->

                <h4 class="card-title">@Model.Name</h4>

                <!--Text-->

                <p class="card-text">@Model.Description.</p>


                <p></p>

            </div>

        </div>

    </div>

</div>
<p class="card-text">@Model.Ingredients</p>


<div class="container">
    <div class="side-menu">
        <nav class="navbar navbar-default" role="navigation">
            <div class="side-menu-container">
                <ul class="nav">
                    <li class="panel panel-default" id="dropdown">
                        <a data-toggle="collapse" href="#about">
                           <h6> Ingredients</h6><span class="caret"></span>
                        </a>
                        <div id="about" class="panel-collapse collapse">
                            <div class="panel-body">
                                <ul class="nav navbar-nav">
                                    <section>
                                        <div>
                                            <p>
                                                2 Whole free-range, organic chickens
                                            </p>
                                            <p>
                                                Vegetable oil of choice, for frying the chicken
                                            </p>
                                            <p>6 cups all-purpose flour</p>
                                            <p>1 tablespoon onion powder</p>
                                            <p>2 tablespoons of garlic powder</p>
                                            <p>2 teaspoons cayenne pepper</p>
                                            <p>2 cups of buttermilk</p>
                                        </div>
                                    </section>

                                </ul>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>

<p class="btn btn-group pull-right">


    <a href="Menu" class="btn btn-default">Show all Meals</a>

    <a href="ShoppingCart" class="btn btn-success" id="cartButton">

        Add to cart

    </a>



</p>