@page
@model OrderCookDeliver.Pages.DetailModel
@{
    ViewData["Title"] = "Detail";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}


<div class="container marginTop">

    <div class="row">

        <div class="card">

            <div class="text-center view overlay hm-white-slight">

                <img src="~/img/Chicken.jpg" class="img-fluid" alt="">

                <a href="#">

                    <div class="mask waves-effect waves-light"></div>

                </a>

            </div>
            
            <div class="card-block">

                <!--Title-->
                <div class="align-content-center">
                    <h4 class="card-title">@Model.Name</h4>
                </div>
                <!--Text-->

                <p class="card-text">@Model.Description.</p>
                <br />

                <div class="nutrition-info-content" style="display: block;">
                    <img src="~/img/NutritionFacts.JPG" class="img-fluid" />
                </div>

                <br />
                <p class="card-text">@Model.Ingredients</p>
                <section class="o-Ingredients">
                    <header class="o-Ingredients__m-Header">
                        <div class="o-Ingredients__m-TextWrap">
                            <h3 class="o-Ingredients__a-HeadLine">
                                <span class="o-Ingredients__a-HeadLineText">
                                    Ingredients
                                </span>
                            </h3>
                        </div>
                    </header>
                    <div class="o-Ingredients__m-Body">
                        <p class="o-Ingredients__a-Ingredient">
                            2 Whole free-range, organic chickens
                        </p>
                        <p class="o-Ingredients__a-Ingredient">
                            Vegetable oil of choice, for frying the chicken
                        </p>
                        <p class="o-Ingredients__a-Ingredient">6 cups all-purpose flour</p>
                        <p class="o-Ingredients__a-Ingredient">1 tablespoon onion powder</p>
                        <p class="o-Ingredients__a-Ingredient">2 tablespoons of garlic powder</p>
                        <p class="o-Ingredients__a-Ingredient">2 teaspoons cayenne pepper</p>
                        <p class="o-Ingredients__a-Ingredient">2 cups of buttermilk</p>
                    </div>

                </section>

                <p></p>


            </div>
                <p></p>

                <p class="btn btn-group pull-right">


                    <a href="Menu" class="btn btn-default">Show all Meals</a>

                    <a class="btn btn-success" id="cartButton" asp-controller="ShoppingCart" asp-action="AddToShoppingCart" asp-route-mealid="@Model.MealID">

                        Add to cart

                    </a>



                </p>

            </div>

        </div>

    </div>
<div class="o-Ingredients__m-Body">
    <p class="o-Ingredients__a-Ingredient">
        2 Whole free-range, organic chickens
    </p>
    <p class="o-Ingredients__a-Ingredient">
        Vegetable oil of choice, for frying the chicken
    </p>
    <p class="o-Ingredients__a-Ingredient">6 cups all-purpose flour</p>
    <p class="o-Ingredients__a-Ingredient">1 tablespoon onion powder</p>
    <p class="o-Ingredients__a-Ingredient">2 tablespoons of garlic powder</p>
    <p class="o-Ingredients__a-Ingredient">2 teaspoons cayenne pepper</p>
    <p class="o-Ingredients__a-Ingredient">2 cups of buttermilk</p>
</div>

