@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Order Cook Deliver</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">Taking care of individuals and families when it comes to eating healthy easily.</a>.</p>
</div>
