@page
@model OrderCookDeliver.Pages.MasterCalendarModel
@{
    ViewData["Title"] = "MasterCalendar";
}

<h1>MasterCalendar</h1>

<head>
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
    </style>
</head>
<body>

    <h2>Cook View (from OrderCookDeliver)</h2>
    <p>Click on a table item to view item information or status.</p>

    <table style="width:100%">
        <tr>
            <th>Week Of</th>
            <th>Item</th>
            <th>CurrentQuantity</th>
            <th>NeededQuantity</th>
        </tr>
        <tr>
            <td>Week 1</td>
            <td>itemName</td>
            <td><a href="currentAmount">Current Amount</a></td>
            <td><a href="neededAmount">Needed Amount</a></td>
        </tr>
        <tr>
            <td>Week 1</td>
            <td>itemName</td>
            <td><a href="currentAmount">Current Amount</a></td>
            <td><a href="neededAmount">Needed Amount</a></td>
        </tr>
        <tr>
            <td>Week 1</td>
            <td>itemName</td>
            <td><a href="currentAmount">Current Amount</a></td>
            <td><a href="neededAmount">Needed Amount</a></td>
        </tr>
        <tr>
            <td>Week 2</td>
            <td>itemName</td>
            <td><a href="currentAmount">Current Amount</a></td>
            <td><a href="neededAmount">Needed Amount</a></td>
        </tr>
        <tr>
            <td>Week 2</td>
            <td>itemName</td>
            <td><a href="currentAmount">Current Amount</a></td>
            <td><a href="neededAmount">Needed Amount</a></td>
        </tr>
        <tr>
            <td>Week 2</td>
            <td>itemName</td>
            <td><a href="currentAmount">Current Amount</a></td>
            <td><a href="neededAmount">Needed Amount</a></td>
        </tr>
        <tr>
            <td>Week 3</td>
            <td>itemName</td>
            <td><a href="currentAmount">Current Amount</a></td>
            <td><a href="neededAmount">Needed Amount</a></td>
        </tr>
        <tr>
            <td>Week 3</td>
            <td>itemName</td>
            <td><a href="currentAmount">Current Amount</a></td>
            <td><a href="neededAmount">Needed Amount</a></td>
        </tr>
        <tr>
            <td>Week 3</td>
            <td>itemName</td>
            <td><a href="currentAmount">Current Amount</a></td>
            <td><a href="neededAmount">Needed Amount</a></td>
        </tr>
        <tr>
            <td>Week 3</td>
            <td>itemName</td>
            <td><a href="currentAmount">Current Amount</a></td>
            <td><a href="neededAmount">Needed Amount</a></td>
        </tr>
        <tr>
            <td>Week 4</td>
            <td>itemName</td>
            <td><a href="currentAmount">Current Amount</a></td>
            <td><a href="neededAmount">Needed Amount</a></td>
        </tr>
        <tr>
            <td>Week 4</td>
            <td>itemName</td>
            <td><a href="currentAmount">Current Amount</a></td>
            <td><a href="neededAmount">Needed Amount</a></td>
        </tr>
        <tr>
            <td>Week 4</td>
            <td>itemName</td>
            <td><a href="currentAmount">Current Amount</a></td>
            <td><a href="neededAmount">Needed Amount</a></td>
        </tr>
    </table>
</body>
