@page
@model OrderCookDeliver.Pages.MasterCalendarModel
@{
    ViewData["Title"] = "MasterCalendar";
}

<h1>MasterCalendar</h1>

<head>
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
    </style>
</head>
<body>

    <h2>Cook View (from OrderCookDeliver)</h2>
    <p>If you want the borders to collapse into one border, add the CSS border-collapse property.</p>

    <table style="width:100%">
        <tr>
            <th>Date</th>
            <th>Item</th>
            <th>CurrentQuantity</th>
            <th>NeededQuantity</th>
        </tr>
        <tr>
            <td>mm/dd/yyyy</td>
            <td>itemName</td>
            <td>currentAmount</td>
            <td>neededAmount</td>
        </tr>
        <tr>
            <td>mm/dd/yyyy</td>
            <td>itemName</td>
            <td>currentAmount</td>
            <td>neededAmount</td>
        </tr>
        <tr>
            <td>mm/dd/yyyy</td>
            <td>itemName</td>
            <td>currentAmount</td>
            <td>neededAmount</td>
        </tr>
        <tr>
            <td>mm/dd/yyyy</td>
            <td>itemName</td>
            <td>currentAmount</td>
            <td>neededAmount</td>
        </tr>
        <tr>
            <td>mm/dd/yyyy</td>
            <td>itemName</td>
            <td>currentAmount</td>
            <td>neededAmount</td>
        </tr>
        <tr>
            <td>mm/dd/yyyy</td>
            <td>itemName</td>
            <td>currentAmount</td>
            <td>neededAmount</td>
        </tr>
        <tr>
            <td>mm/dd/yyyy</td>
            <td>itemName</td>
            <td>currentAmount</td>
            <td>neededAmount</td>
        </tr>
        <tr>
            <td>mm/dd/yyyy</td>
            <td>itemName</td>
            <td>currentAmount</td>
            <td>neededAmount</td>
        </tr>
        <tr>
            <td>mm/dd/yyyy</td>
            <td>itemName</td>
            <td>currentAmount</td>
            <td>neededAmount</td>
        </tr>
        <tr>
            <td>mm/dd/yyyy</td>
            <td>itemName</td>
            <td>currentAmount</td>
            <td>neededAmount</td>
        </tr>
        <tr>
            <td>mm/dd/yyyy</td>
            <td>itemName</td>
            <td>currentAmount</td>
            <td>neededAmount</td>
        </tr>
        <tr>
            <td>mm/dd/yyyy</td>
            <td>itemName</td>
            <td>currentAmount</td>
            <td>neededAmount</td>
        </tr>
        <tr>
            <td>mm/dd/yyyy</td>
            <td>itemName</td>
            <td>currentAmount</td>
            <td>neededAmount</td>
        </tr>
    </table>

</body>