@page
@model OrderCookDeliver.Pages.MasterCalendarModel
@{
    ViewData["Title"] = "MasterCalendar";
}

<h1>MasterCalendar</h1>

<head>
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
    </style>
</head>
<body>

    <h2>Cook View (from OrderCookDeliver)</h2>
    <p>Click on a table item to view item information or status.</p>

    <table style="width:100%">
        <tr>
            <th>Meal</th>
            <th>WeekOf/MealCode</th>
            <td>MealOption</td>
            <th>TotalOrders</th>
            <th>OrderWeek</th>
        </tr>
        <tr>
            <td>mealName</td>
            <td>Week 1</td>
            <td>option</td>
            <td><a href="totalOrders">Total Orders</a></td>
            <td><a href="orderWeek">Order Week</a></td>
        </tr>
        <tr>
            <td>mealName</td>
            <td>Week 1</td>
            <td>option</td>
            <td><a href="totalOrders">Total Orders</a></td>
            <td><a href="orderWeek">Order Week</a></td>
        </tr>
        <tr>
            <td>mealName</td>
            <td>Week 1</td>
            <td>option</td>
            <td><a href="totalOrders">Total Orders</a></td>
            <td><a href="orderWeek">Order Week</a></td>
        </tr>
        <tr>
            <td>mealName</td>
            <td>Week 1</td>
            <td>option</td>
            <td><a href="totalOrders">Total Orders</a></td>
            <td><a href="orderWeek">Order Week</a></td>
        </tr>
        <tr>
            <td>mealName</td>
            <td>Week 1</td>
            <td>option</td>
            <td><a href="totalOrders">Total Orders</a></td>
            <td><a href="orderWeek">Order Week</a></td>
        </tr>
        <tr>
            <td>mealName</td>
            <td>Week 1</td>
            <td>option</td>
            <td><a href="totalOrders">Total Orders</a></td>
            <td><a href="orderWeek">Order Week</a></td>
        </tr>
        <tr>
            <td>mealName</td>
            <td>Week 1</td>
            <td>option</td>
            <td><a href="totalOrders">Total Orders</a></td>
            <td><a href="orderWeek">Order Week</a></td>
        </tr>
        <tr>
            <td>mealName</td>
            <td>Week 1</td>
            <td>option</td>
            <td><a href="totalOrders">Total Orders</a></td>
            <td><a href="orderWeek">Order Week</a></td>
        </tr>
        <tr>
            <td>mealName</td>
            <td>Week 1</td>
            <td>option</td>
            <td><a href="totalOrders">Total Orders</a></td>
            <td><a href="orderWeek">Order Week</a></td>
        </tr>
        <tr>
            <td>mealName</td>
            <td>Week 1</td>
            <td>option</td>
            <td><a href="totalOrders">Total Orders</a></td>
            <td><a href="orderWeek">Order Week</a></td>
        </tr>
        <tr>
            <td>mealName</td>
            <td>Week 1</td>
            <td>option</td>
            <td><a href="totalOrders">Total Orders</a></td>
            <td><a href="orderWeek">Order Week</a></td>
        </tr>
        <tr>
            <td>mealName</td>
            <td>Week 1</td>
            <td>option</td>
            <td><a href="totalOrders">Total Orders</a></td>
            <td><a href="orderWeek">Order Week</a></td>
        </tr>
        <tr>
            <td>mealName</td>
            <td>Week 1</td>
            <td>option</td>
            <td><a href="totalOrders">Total Orders</a></td>
            <td><a href="orderWeek">Order Week</a></td>
        </tr>
    </table>
</body>
