@page
@model OrderCookDeliver.Pages.ShoppingCartModel
@{
    ViewData["Title"] = "ShoppingCart";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>ShoppingCart</h1>

<table style="width:100%">
    <thead>
        <tr>
            <th>
                Meal
            </th>
            <th>

            </th>
            <th>
                Qty.
            </th>
            <th>
                <!--edit/delete-->
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                Meal Name
            </td>
            <td>

            </td>
            <td>
                qty
            </td>
            <td> </td>
            <td><a href="">edit</a> | <a href="">delete</a></td>
        </tr>
    </tbody>
</table>