@page
@model OrderCookDeliver.Pages.ShoppingCartModel
@{
    ViewData["Title"] = "ShoppingCart";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>ShoppingCart</h1>

<table>
    <thead>
        <tr>
            <th>
                Meal
            </th>
            <th>
                Qty.
            </th>
            <th>
                <!--edit/delete-->
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                
            </td>
        </tr>
    </tbody>
</table>