@page
@model OrderCookDeliver.Pages.ShoppingCartModel
@{
    ViewData["Title"] = "ShoppingCart";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
@{ 
    List< String > cart = new List<string>();
    cart.Add(Request.Query["Meal"]);
    cart.Add(Request.Query["Qty"]);
    cart.Add(Request.Query["Price"]);

    int serving = Int32.Parse(Request.Query["Qty"]);
    double price = Double.Parse(Request.Query["Price"]);
    double total = Math.Round(serving * price, 2);

}

<h1>ShoppingCart</h1>
<table style="width:100%" border="1">
    <thead>
        <tr>
            <th>
                Meal
            </th>
            <th>

            </th>
            <th>
                Serving
            </th>
            <th>
                price
            </th>
            <th>
                <!--edit/delete-->
            </th>
        </tr>
    </thead>
    @for(int i = 0; i < cart.Count; i = i + 3)
    {
        <tbody>
            <tr>
                <td>
                    @cart[i]
                </td>
                <td>
                </td>
                <td>
                    @cart[i+1]
                </td>
                <td>

                </td>
                <td>
                   @total
                </td>
                <td><a href="">edit</a> | <a href="">delete</a></td>
            </tr>
        </tbody>                
    }
    <tfoot>
        <tr>
            <th>
            <b>Total</b>
            </th>
            <td>
                $ @total
            </td>
         </tr>

    </tfoot>
</table>

